@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:wght@300;500;700&family=Oswald:wght@300;400;500&family=Satisfy&display=swap');


:root {
    --family-oswald: 'Oswald', sans-serif;
    ;
    --family-archivo: 'Archivo Black', sans-serif;
    --family-satisfy: 'satisfy', cursive;
    --family-open: 'Open Sans', sans-serif;
    --white: #f7f7f7;
    --black: #090909;
    --honey: #fdbc01;
    --light-blue: #084b4c;
    --cherry: #c23900;
}


/* ================== HTML PAGE FORMATTING ================*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: max-content;
    background-color: var(--white);
}

.description {
    height: 60vh;
    background-color: var(--white);
    color: var(--black);
}

.flex__center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex__left {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.title {
    font-family: var(--family-oswald);
    font-weight: 400;
    font-size: 1.8em;
    margin-top: 2rem;
    text-transform: uppercase;
}

.subtitle {
    font-family: var(--family-satisfy);
    font-size: 1.2em;
}

.para {
    font-family: var(--family-open);
    font-weight: 300;
    margin: 1rem 2.2rem 2.3rem;
    text-align: center;
}

.btn-style{
    font-size: 1.5em;
    font-weight: 500;
    font-family: var(--family-oswald);
    text-transform: uppercase;
    background-color: transparent;
    border: 5px solid var(--cherry);
    width: 7em;
    height: 2em;
    cursor: pointer;
    margin-bottom: 4rem;
    transform: scale(1);
    transition: .3s ease;
}

.btn-style:hover {
    transform: scale(1.1);
}

/* ============= HEADER =============*/

header {
    width: 100%;
    height: 70px;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: .5em 1em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

header a {
    cursor: pointer;
    font-size: 1.8em;
    font-family: var(--family-satisfy);
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

.animated-gradient {
    background: linear-gradient(270deg, #8c330e, #700f69, #fdbc01);
    background-size: 600% 600%;
    background-clip: text;
        -webkit-text-fill-color: transparent;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
    
header a {
    color: var(--black);
    cursor: pointer;
    font-size: 1.8em;
    font-weight: 900;
    font-family: var(--family-satisfy);
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

header svg {
    cursor: pointer;

}



/* ============= NAV =============*/

#navigation-menu {
    width: 100%;
    background-color: var(--white);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    animation-name: slideIn;
    animation-duration: 350ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#navigation-menu.close {
    width: 100%;
    background-color: var(--white);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    animation-name: slideOut;
    animation-duration: 350ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideIn {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}

@keyframes slideOut {
    from {
        right: 0;
    }

    to {
        right: -100%;
    }
}


#navigation-menu a {
    font-family: var(--family-satisfy);
    font-size: 3.5em;
    color: var(--dark-font);
    margin: .5rem 0;
    padding: 1rem;
}

#navigation-menu a:nth-of-type(1) {
    opacity: 0;
    animation-name: showText;
    animation-delay: 350ms;
    animation-duration: 550ms;
    animation-fill-mode: forwards;
}

#navigation-menu a:nth-of-type(2) {
    opacity: 0;
    animation-name: showText;
    animation-delay: 450ms;
    animation-duration: 550ms;
    animation-fill-mode: forwards;
}

#navigation-menu a:nth-of-type(3) {
    opacity: 0;
    animation-name: showText;
    animation-delay: 550ms;
    animation-duration: 550ms;
    animation-fill-mode: forwards;
}
#navigation-menu a:nth-of-type(4) {
    opacity: 0;
    animation-name: showText;
    animation-delay: 650ms;
    animation-duration: 550ms;
    animation-fill-mode: forwards;
}

@keyframes showText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#navigation-menu svg {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}


/* ======== BANNER IMAGE ========= */

main {
    width: 100%;
    margin-top: 70px;
}

section {
    width: 100%;
}

.banner-image {
    background-image: url("./images/big-2500w.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    color: var(--cherry);
    line-height: 5rem;
}

.banner-image h4 {
    font-family: var(--family-oswald);
    font-size: 2em;
    font-weight: 500;
    margin-top: 1.8rem;
}

.banner-image h1 {
    font-family: var(--family-archivo);
    font-weight: 300;
    font-size: 3em;
    margin-top: 9rem;
    text-shadow: 2px 2px 1px black;
}

.banner-image button {
    margin-bottom: 3rem;
    position: relative;
}

.banner-image button a {
    color: var(--cherry);
}

/* =========== FLAVOURS ========== */
.flavour {
    width: 100%;
    min-height: 60vh;
}

.flavour__text button {
    border-color: var(--black);
}

.flavour__text button a {
    color: var(--black);
}

.flavour__img {
    width: 100%;
    height: 50vh;
    background-image: url("./images/dairy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* ========== DAIRY ========== */

.dairy {
    height: 70vh;
    background-image: url("./images/purple.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    isolation: isolate;
}

.dairy-text {
    width: 100%;
    height: 70vh;
    color: var(--honey);
    position: relative;
}

.dairy-text::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: #b596a8;
    mix-blend-mode: multiply;
}

.dairy h4 {
    width: 160px;
    height: 8vh;
    font-family: var(--family-satisfy);
    font-size: 2em;
    margin-top: 1em;
    text-align: center;
}

.dairy h3 {
    width: 340px;
    height: 10vh;
    margin-bottom: 4em;
    font-family: var(--family-archivo);
    font-size: 3em;
    text-align: center;

}

.dairy button {
    font-size: 1.5em;
    font-weight: 500;
    font-family: var(--family-oswald);
    background-color: transparent;
    border: 5px solid var(--honey);
    width: 7em;
    height: 2em;
    cursor: pointer;
    margin-bottom: 4rem;
    transform: scale(1);
    transition: .3s ease;
}

.dairy button a { 
    color: var(--honey);
}

.banner button:hover {
    transform: scale(1.1);
}

/* ========= OUR PLACE ========== */
.place {
    width: 100%;
    min-height: 60vh;
}

.place__text button {
    border-color: var(--black);
}

.place__text button a {
    color: var(--black);
}

.place__image {
    background-image: url("./images/chairs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
}


/* =========== DISCOUNT =========== */

#discount {
    display: none;
    scroll-behavior: smooth;
}

.free {
    width: 100%;
    min-height: 50vh;
}

.free h3 {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}

.free h3 span {
    background: rgb(194, 57, 0);
    background: -moz-linear-gradient(90deg, rgba(194, 57, 0, 1) 13%, rgba(241, 10, 226, 1) 50%, rgba(253, 188, 1, 1) 88%);
    background: -webkit-linear-gradient(90deg, rgba(194, 57, 0, 1) 13%, rgba(241, 10, 226, 1) 50%, rgba(253, 188, 1, 1) 88%);
    background: linear-gradient(90deg, rgba(194, 57, 0, 1) 13%, rgba(241, 10, 226, 1) 50%, rgba(253, 188, 1, 1) 88%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.free h3 strong {
    font-size: 1.2em;
}

.free button {
    margin-top: 2.5rem;
    color: var(--black);
    border-color: transparent;
    height: 5vh;
    font-family: var(--family-satisfy);
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    
}

.free svg {
    position: absolute;
    transform: scale(1.2);
}

.discount__grid {
    min-height: 70vh;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 150px 150px 150px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}


/* ========== FOOTER ========== */

footer {
    width: 100%;
    min-height: 50vh;
    background-color: var(--black);
    color: var(--white);
}

.footer {
    margin-left: 3rem;
}

.address {
    padding-top: 3rem;
}

.footer > p {
    line-height: 2rem;
    font-family: var(--family-oswald);
}

.form-email {
    width: 250px;
    height: 40px;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    color: var(--white);
    background-color: var(--black);
    border: 3px solid var(--white);
}

.form-email::placeholder {
    color: var(--white);
    font-size: 1rem;
}

.form-btn {
    color: var(--white);
    border:2px solid var(--white);
    font-size: 1em;
    width: 120px;
    height: 40px;
    margin-top: 1.5rem;
}



/* ================ MEDIA QUERIES =============== */

/* ==========TABLETS========== */

@media screen and (min-width: 481px) {

    
    .banner-image h4 {
        font-size: 3em;
        margin-top: 1.8rem;
    }
    
    .banner-image h1 {
        font-size: 4em;
        margin-top: 9rem;
    }

    .banner-image button {
        margin-top: 2rem;
    } 
    .discount__description {
        margin: 0 3rem;
    }
}


/* ==========SMALL SCREENS, LAPTOPS========== */

@media screen and (min-width: 769px) {
   
    header svg {
        display: none;    
    }

    header a {
        font-size: 2.2em;
    }
    
    #navigation-menu {
        background-color: transparent;
        width: 30%;
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;           
    }

    #navigation-menu a {
        font-family: var(--family-oswald);
        font-size: 1.5em;
        margin: .5rem .2rem;
        margin-right: 1rem;
    }
    
    
   #navigation-menu svg {
       display: none;
   }

    .banner-image h4 {
        font-size: 3.5em;
        margin-top: 1.2rem;
    }
    
    .banner-image h1 {
        font-size: 4.5em;
        margin-top: 10rem;
    }

    .banner-image button {
        bottom: 2rem;
    }

    .discount__description {
        margin: 0 5rem;
    }

    .discount__grid img {
        width: 150px;
        height: 220px;
    }

    .discount__grid {
        min-height: 70vh;
        display: grid;
        grid-template-columns: 150px 150px;
        grid-template-rows: 200px 200px 200px;
        margin-top: 3rem;
        margin-bottom: 2rem;
        
    }
    

    footer {
        display: grid;
        grid-template-columns: 380px 380px;
        grid-template-rows: 150px 400px;    
    }

    .footer {
        margin-left: 100px;
    }

     .footer .title {
        margin-top: 80px;
    } 

    .footer .address {
        padding-top: 0;
    }
   
}

/* ==========LARGE SCREENS, DESKTOPS========== */

@media screen and (min-width: 1025px) {

    header a {
        font-size: 2.4em;
    }

    #navigation-menu a {
        font-family: var(--family-oswald);
        font-size: 1.5em;
        margin-bottom: .5rem;
        margin-left: 2rem;
    }

    .banner-image {
        height: 85vh;
    }

    .banner-image h1 {
        margin-top: 12rem;
    }

    .flex__row {
        display: flex;
    }

    .flavour {
        width: 100%;
        height: 60vh;
    }

    .flavour__text {
        width: 50%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flavour__img {
        width: 50%;
        height: 60vh;
    }

    .place {
        width: 100%;
        height: 60vh;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row-reverse;
    }

    .place__text {
        width: 50%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .place__image {
        width: 50%;
        height: 60vh;
    }
    
}

/* ==========EXTRA LARGE SCREENS, TV========== */

@media screen and (min-width: 1201px) {}