@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --bground-header-footer: #fcf9f5;
    --divisions-backgrounds: #E5ECF0;
    --divisions-backgrounds-darker: #2d2d3d;
    --buttons: #354a54;
    --span: #b87c4c;

}

/* ================== HTML PAGE FORMATTING ================*/
*, *::before, *::after {
    margin:0;
    padding:0;
    outline:0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
/* ============== HEADER ============ */
.header {
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    width: 100%;
    padding: 1rem;
    background-color: var(--bground-header-footer);
}
header a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 65%;
}

.logo-footer {
    width: 50%;
}

 span {
    color: var(--span)
}

.burger-menu {
    width:2rem;
    position: absolute;
    left:1rem;
    cursor:pointer;
}

/* =============== NAV MENU ==============*/
nav {
    display: none;
    flex-direction: column;
    background-color:var(--divisions-backgrounds);
}



nav a, .dropdown-container {
    color: black;
    font-weight: 400;
    line-height: 3rem;
    padding: .7rem 0 .7rem 1rem;
    transition: 1s ease;
    
}


nav a:hover, .sub-cat:hover {
    background-color: gainsboro;
}

.cat-btn {
    width: 100%;
}

.dropdown-cat {
    display: flex;
    align-items: center;
    background-color: var(--divisions-backgrounds);
    width: 100%;
    
}

.dropdown-container {
    display: none;
    flex-direction: column;
}


.icon-cat {
    padding-left: 1.5rem;
}

/* ================ MAIN =============== */
main {
    width: 100%;
    min-height: 100vh;
}

.category-banner {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;       
    width:100%;
    height: 14vh;
    background-color: var(--divisions-backgrounds-darker);
    color: #ffffff; 
    margin:2rem 0 4rem;
}

.images-container {
    width:100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap:4rem 2rem;
    margin-bottom: 5rem;
}

figure {
    width: 154px;
    height:205px;  
    margin-bottom: 5rem;
    transition: .5s ease;
    transition-delay: .3s;
}

figure img {
    width: 100%;
    height:100%;
}

figure:hover {
    transform: scale(1.08);
}

figcaption {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

figcaption ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 0.7rem;
    font-size: 18px;
    text-align: center;
}

figcaption ul li:first-child, .artist {
    color: #3d3e3e;
    font-weight: 600;
    padding-bottom:.7rem;
}

.artist {
    margin-top: -5px;
    font-style: italic;
    color: #7f8181;
}

figcaption ul li:last-child {
    color: #545455;
}

.img-border {
    border: 1px solid #7f81813c;
}


/* ============ FOOTER =========== */
footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding:3rem 2rem;
    background-color: var(--bground-header-footer);
}

.logo-footer {
    width: 70%;
}

footer .FAQ {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top:1.5rem;
    line-height: 2rem;
    margin-bottom: 3.5rem;
}

.FAQ__division1 , .FAQ__division2, .FAQ__division3 {
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0 0 2rem 1.5rem;
}

.FAQ a {
    color: black;
}


.FAQ__division1 p, .FAQ__division2 p, .FAQ__division3 p {
    line-height: 5rem;
    font-weight: 600;
}

/* ================ MEDIA QUERIES =============== */

@media screen and (min-width:480px) {
    .logo {
        width: 50%;
    }   
}

@media screen and (min-width:700px) {
    .burger-menu {
        left:3rem;
    }

    .logo {
        width: 40%;
    }
    
    .images-container {
        column-gap: 10%;
    }

    figure {
        width: 228px;
        height:304px;  
    }

    .FAQ__division1, .FAQ__division2, .FAQ__division3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 1rem;
        margin: .5rem;
        line-height: 2rem;
    }


    footer .FAQ {
        flex-direction: row;
    }

    
    footer p {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    .images-container {
        grid-template-columns: auto auto auto;
        column-gap: 4%;
    }
}

@media screen and (min-width:900px) {
    header {
        width:100%;
        align-items: left;
        justify-content: left;
    }
    header a {
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: left;
    }
    .burger-menu {
        display: none;
        position:static;
    }

    .logo {
        width: 25%;
    }

    nav {
        display: flex;
        flex-direction: row;
        padding-right: 2.5rem;
        justify-content: flex-end;
        position: absolute;
        top:35px;
        right:0;
        width:50%;
        background-color: var(--bground-header-footer);
    }

    .cat-btn, .dropdown-cat {
        background-color: var(--bground-header-footer);
    }

    .categories {
        position: relative;
        display: inline-block;
    }

    
    nav a, button a {
        position: relative;
        top: 10px;
        padding:0 1rem; 
        height: 3rem;  
    }

    .cat-btn a img {
        padding: 0;
        margin: 0;
    }


    nav a:hover {
        background-color: var(--divisions-backgrounds);
    }

    .category-banner {
        height: 18vh;
    }

    .FAQ__division1, .FAQ__division2, .FAQ__division3 {
        padding: 1rem;
        margin: 0 4rem;
        line-height: 2rem;
    }

}

@media screen and (min-width:1150px) {

    .text-box p, .FAQ__division1, .FAQ__division2, .FAQ__division3 {
        font-size: 20px;
        line-height: 2.5rem;
    }
    
    .logo {
        width: 20%;
    }

    nav a {
        font-size: 1.2rem;
        top:8px;
    }

    .images-container {
        grid-template-columns: auto auto auto auto;
        margin-top: 8rem;
    }
}



@media screen and (min-width:1350px) {
    figure {
        width: 275px;
        height:342px;  
    }

    .images-container {
        column-gap: 3.5rem;
    }
}
