@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --bground-header-footer: #fcf9f5;
    --divisions-backgrounds: #E5ECF0;
    --buttons: #354a54;
    --span: #b87c4c;

}

/* ================== HTML PAGE FORMATTING ================*/
*, *::before, *::after {
    margin:0;
    padding:0;
    outline:0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
/* ============== HEADER ============ */
.header {
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    width: 100%;
    padding: 1rem;
    background-color: var(--bground-header-footer);
}
header a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 65%;
}

.logo-footer {
    width: 50%;
}

 span {
    color: var(--span)
}

.burger-menu {
    width:2rem;
    position: absolute;
    left:1rem;
    cursor:pointer;
}

/* =============== NAV MENU ==============*/
nav {
    display: none;
    flex-direction: column;
    background-color:var(--divisions-backgrounds);
}



nav a, .dropdown-container {
    color: black;
    font-weight: 400;
    line-height: 3rem;
    padding: .7rem 0 .7rem 1rem;
    transition: 1s ease;
    
}


nav a:hover, .sub-cat:hover {
    background-color: gainsboro;
}

.cat-btn {
    width: 100%;
}

.dropdown-cat {
    display: flex;
    align-items: center;
    background-color: var(--divisions-backgrounds);
    width: 100%;
    
}

.dropdown-container {
    display: none;
    flex-direction: column;
}


.icon-cat {
    padding-left: 1.5rem;
}

/* ================ MAIN =============== */
main {
    width: 100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    flex-direction: column;       
}

.description-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

figure {
    width: 100%;
    display:flex;
    flex-direction: column;    
}

figure img {
    width: 100%;
    height:50vh;
    border-radius: 1.5rem;
}

figure h1 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 0.5px solid rgba(140, 126, 126, 0.23);
    padding-bottom:0.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

}

figure h2 {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 1rem;
    color: #acacac;
}

figure p {
    text-align: left;
    margin-bottom: 1rem;
}

summary {
    cursor: pointer;
    position:relative;
}

details summary::after {
    content: url(./images/icons/arrow.png);
    position: absolute;
    right: 0;
    top: 0;
}

/* == ARROW ANIMATION == */
details[open] summary::after {
    animation-name:rotation_open;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
}

@keyframes rotation_open {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

details:not([open]) summary:after {
    animation-name:rotation_close;
    animation-duration: 250ms;
}

@keyframes rotation_close {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

details li:first-child {
    margin-top: 1rem;
}

details ul {
    margin-bottom: 5rem;
}

details[open] > ul > li {
    opacity:0;
    animation-name: showContent;
    animation-duration: 350ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}

@keyframes showContent {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  details[open] > ul {
    animation-name: slideDown;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes slideDown {
    from {
      opacity: 0;
      height: 0;
    }
  
    to {
      opacity: 1;
      height: 3vh;
      padding-bottom: 2.6rem;
    }
}

/* ============ FOOTER =========== */
footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding:3rem 2rem;
    background-color: var(--bground-header-footer);
}

.logo-footer {
    width: 70%;
}

footer .FAQ {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top:1.5rem;
    line-height: 2rem;
    margin-bottom: 3.5rem;
}

.FAQ__division1 , .FAQ__division2, .FAQ__division3 {
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0 0 2rem 1.5rem;
}

.FAQ a {
    color: black;
}


.FAQ__division1 p, .FAQ__division2 p, .FAQ__division3 p {
    line-height: 5rem;
    font-weight: 600;
}

/* ================ MEDIA QUERIES =============== */

@media screen and (min-width:480px) {
    .logo {
        width: 50%;
    }   
}

@media screen and (min-width:700px) {
    .burger-menu {
        left:3rem;
    }

    .logo {
        width: 40%;
    } 

    figure {
        margin-top:3rem;
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    figure img {
        width: 70%;
        height:50vh;
        border-radius: 1.5rem;
    }
    
    .FAQ__division1, .FAQ__division2, .FAQ__division3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 1rem;
        margin: .5rem;
        line-height: 2rem;
    }


    footer .FAQ {
        flex-direction: row;
    }

    
    footer p {
        width: 100%;
    }
}

@media screen and (min-width:900px) {
    header {
        width:100%;
        align-items: left;
        justify-content: left;
    }
    header a {
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: left;
    }
    .burger-menu {
        display: none;
        position:static;
    }

    .logo {
        width: 25%;
    }

    nav {
        display: flex;
        flex-direction: row;
        padding-right: 2.5rem;
        justify-content: flex-end;
        position: absolute;
        top:35px;
        right:0;
        width:50%;
        background-color: var(--bground-header-footer);
    }

    .cat-btn, .dropdown-cat {
        background-color: var(--bground-header-footer);
    }

    .categories {
        position: relative;
        display: inline-block;
    }

    
    nav a, button a {
        position: relative;
        top: 10px;
        padding:0 1rem; 
        height: 3rem;  
    }

    .cat-btn a img {
        padding: 0;
        margin: 0;
    }


    nav a:hover {
        background-color: var(--divisions-backgrounds);
    }

    figure img {
        width: 60%;
        height:70vh;
    }

    .FAQ__division1, .FAQ__division2, .FAQ__division3 {
        padding: 1rem;
        margin: 0 4rem;
        line-height: 2rem;
    }
}

@media screen and (min-width:1150px) {

    .text-box p, .FAQ__division1, .FAQ__division2, .FAQ__division3 {
        font-size: 20px;
        line-height: 2.5rem;
    }
    
    .logo {
        width: 20%;
    }

    nav a {
        font-size: 1.2rem;
        top:8px;
    }
    
    figure {
        width: 100%;
        display:flex;
        flex-direction: row;
        align-items: center; 
        justify-content: space-between;   
    }

    figure:last-child{
        align-items: flex-start;
    }

    figure img {
        width: 70%;
        height:85vh;
    }

    figcaption {
        width: 30%;
        margin-left:4rem;
    }
}

@media screen and (min-width:1250px) {
   

    figure img {
        width: 55%;
        height:100vh;
    }

    figcaption {
        width: 45%; 
    }
    
}