@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Libre+Franklin:wght@200;400;600;700&family=Open+Sans:wght@300;500;700&family=Stylish&display=swap');

:root {

    --color-1: #f8f5f1;
    --color-2: #ffffff;
    --color-3: #0c0616;
    --family-aladin: 'Bad Script', cursive;
    --family-stylish: 'Stylish', sans-serif;
    --family-franklin: 'Libre Franklin', sans-serif;
    --family-open: 'Open Sans', sans-serif;
}

/* ================== HTML PAGE FORMATTING ================*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: max-content;
    background-color: var(--color-2);
    color: var(--color-3);
}

/* ============== COMPONENTS ============ */

.flex__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex__left {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.para {
    font-family: var(--family-open);
    font-weight: 300;
    margin: 1rem 2.2rem 2.3rem;
    text-align: center;
}

/* ============== HEADER ============ */

header {
    width: 100%;
    height: 80px;
    background-color: var(--color-2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 .5rem;
}

.header a img {
    width: 50px;
    height: auto;
}

.header h1 {
    color: var(--black);
    font-size: 1rem;
    font-family: var(--family-franklin);
    font-weight: 700;
}

#open-menu {
    margin: 0 1rem;
}

#open-menu svg {
    transform: scale(.8);
    cursor: pointer;
}

/* ============= NAV =============*/

#navigation-menu {
    width: 100%;
    height: 80px;
    background-color: var(--color-1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    animation-name: slideIn;
    animation-duration: 350ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#navigation-menu.close {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    background-color: transparent;
    animation-name: slideOut;
    animation-duration: 350ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideIn {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

@keyframes slideOut {
    from {
        top: 0;
    }

    to {
        top: -100%;
    }
}


.menu li a {
    font-family: var(--family-franklin);
    color: var(--color-3);
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1rem;
}

#navigation-menu svg {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu li {
    margin: 1.5rem;
}

.show-text {
    opacity: 1;
    animation: none;
}

.slide-down {
    position: relative;
}

.categories-menu {
    width: 100%;
    min-height: 300px;
    background-color: var(--color-1);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.categories-menu li a {
    font-size: 1.8em;
}

.slide-down:hover ul,
.slide-down:focus ul {
    opacity: 1;
    visibility: visible;
}
/* ================ MAIN =============== */
main {
    width: 100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    flex-direction: column;       
}


/* ============ FOOTER =========== */
footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding:3rem 2rem;
    background-color: var(--bground-header-footer);
}

.logo-footer {
    width: 70%;
}

footer .FAQ {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top:1.5rem;
    line-height: 2rem;
    margin-bottom: 3.5rem;
}

.FAQ__division1 , .FAQ__division2, .FAQ__division3 {
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0 0 2rem 1.5rem;
}

.FAQ a {
    color: black;
}


.FAQ__division1 p, .FAQ__division2 p, .FAQ__division3 p {
    line-height: 5rem;
    font-weight: 600;
}

/* ================ MEDIA QUERIES =============== */

@media screen and (min-width:480px) {
    .logo {
        width: 50%;
    }   
}

@media screen and (min-width:700px) {
    .burger-menu {
        left:3rem;
    }

    .logo {
        width: 40%;
    } 
    
    
    .FAQ__division1, .FAQ__division2, .FAQ__division3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 1rem;
        margin: .5rem;
        line-height: 2rem;
    }


    footer .FAQ {
        flex-direction: row;
    }

    
    footer p {
        width: 100%;
    }
}

@media screen and (min-width:900px) {
    header {
        width:100%;
        align-items: left;
        justify-content: left;
    }
    header a {
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: left;
    }
    .burger-menu {
        display: none;
        position:static;
    }

    .logo {
        width: 25%;
    }

    nav {
        display: flex;
        flex-direction: row;
        padding-right: 2.5rem;
        justify-content: flex-end;
        position: absolute;
        top:35px;
        right:0;
        width:50%;
        background-color: var(--bground-header-footer);
    }

    .cat-btn, .dropdown-cat {
        background-color: var(--bground-header-footer);
    }

    .categories {
        position: relative;
        display: inline-block;
    }

    
    nav a, button a {
        position: relative;
        top: 10px;
        padding:0 1rem; 
        height: 3rem;  
    }

    .cat-btn a img {
        padding: 0;
        margin: 0;
    }


    nav a:hover {
        background-color: var(--divisions-backgrounds);
    }

    .FAQ__division1, .FAQ__division2, .FAQ__division3 {
        padding: 1rem;
        margin: 0 4rem;
        line-height: 2rem;
    }
}

@media screen and (min-width:1150px) {
    .text-box p, .FAQ__division1, .FAQ__division2, .FAQ__division3 {
        font-size: 20px;
        line-height: 2.5rem;
    }
    
    .logo {
        width: 20%;
    }

    nav a {
        font-size: 1.2rem;
        top: 8px;
    }
}

/* ================ MEDIA QUERIES =============== */

/* ==========TABLETS========== */

@media screen and (min-width: 481px) {
  
    .header {
        margin: 0 1.5rem;
    }

    .header a img {
        width: 60px;
        height: auto;
    }

    .header h1 {
        font-size: 1.2rem;
    }

    #open-menu {
        margin: 0 2.5rem;
    }
}


/* ==========LARGE SCREENS, DESKTOPS========== */

@media screen and (min-width: 1025px) {
     #open-menu {
        display: none;
    }

    header {
        width: 55%;
        z-index: 4;
    }


    #navigation-menu {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        background-color: var(--color-2);
        z-index: 3;
    }

    #navigation-menu svg {
        display: none;
    }

    .menu {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 1rem;
    }

    .menu li {
        margin: 0;
    }

    .menu li a {
        font-size: 1rem;
    }

    .categories-menu {
        min-width: 300px;
        min-height: 300px;
        position: absolute;
        top: 38px;
        right: -50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        opacity: 0;
        visibility: hidden;
        transition: opacity 500ms ease-in-out;
    }

    .categories-menu li a {
        font-size: 1.2rem;
    }

    .slide-down:hover ul,
    .slide-down:focus ul {
        opacity: 1;
        visibility: visible;
    }

    .categories-menu li:nth-child(1) {
        padding-top: 0;
    }
    
}

